#!/bin/akanga -p
#
# ccp.rc - Sample command control program.  No uploads are allowed,
#          the "STOR" command is denied with a ccp supplied message.
#	   Every command but "TYPE is written to syslog.
#

if (~ $PROXY_COMMAND TYPE)
	exit 0

if (~ $PROXY_COMMAND STOR) {
	echo upload not allowed >[1=2]
	exit 1
} else if (~ $PROXY_COMMAND APPE STOU) {
	exit 1
} else if (~ $PROXY_COMMAND +EXIT) {
	echo $PROXY_CCPCOLL collisions
	exit 0
	}

echo $PROXY_COMMAND $PROXY_PARAMETER
exit 0

